* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 1px;
}
:root {
  --dark: #0b3c50;
  --blue: #63a4a7;
  --light: #bac3f8;
  --pink: #e4d2d6;
  --gray: #dde1f3;
  --dark-gray: #5b6e6e;
}
h1 {
  font-size: 48rem;
  color: var(--dark);
  margin-top: 10%;
}

h2 {
  font-size: 28rem;
  color: var(--dark);
  margin-bottom: 8%;
}
h5 {
  font-size: 28rem;
  color: var(--dark);
  font-weight: bold;
  margin-left: 4%;
  font-variant: small-caps;
  text-decoration: underline;
}
h4 {
  font-size: 20rem;
  color: var(--dark);
}
p {
  margin-left: 3%;
  margin-top: 1%;
  font-size: 20rem;
  color: var(--dark);
}
li {
  margin-right: 4%;
}
ul {
  list-style-type: none;
}
section {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1%;
  background-color: var(--gray);
  border-radius: 20rem;
}
.header,
.footer {
  height: 7vh;
  background: var(--dark);
}
.header__wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 80vw;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.header__nav {
  width: 100%;
}
.header__menu {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.header__menu_item,
.footer > a {
  color: var(--light);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  display: block;
  font-variant: small-caps;
}
.header__menu_item:after,
.footer > a::after {
  content: "";
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--blue);
  animation: line 0.4s;
}
.header__menu_item:hover,
.footer > a:hover {
  transform: scaleY(1.2);
}

.header__menu_item:hover::after,
.footer > a:hover::after {
  display: block;
}
@keyframes line {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.burger {
  height: 100%;
  width: 40%;
  align-items: center;
  display: none;
}
.burger__btn {
  height: 30px;
  width: 30px;
  display: flex;
  background-color: var(--light);
  border-radius: 50%;
  position: absolute;
  right: 4%;
  top: 0;
  cursor: pointer;
  z-index: 10;
}
.burger__line {
  display: block;
  width: 60%;
  height: 2px;
  background-color: var(--dark);
  position: absolute;
  border-radius: 1%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}
.burger__line-second {
  top: 50%;
}
.burger__line-first {
  top: 35%;
}
.burger__line-third {
  top: 65%;
}
.burger__nav {
  width: 35vw;
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dark-gray);
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  border-bottom-left-radius: 20px;
  box-shadow: -4px 4px 5px #ccc;
}
.burger__nav_item {
  color: var(--blue);
  text-decoration: none;
}
.burger__nav_item:hover {
  color: var(--pink);
}

#burger__input {
  display: none;
}
#burger__input:checked ~ label {
  background-color: var(--light);
}
#burger__input:checked ~ label > .burger__line-second {
  display: none;
}
#burger__input:checked ~ label > .burger__line-first {
  transform: rotate(45deg);
  top: 50%;
  left: 20%;
}
#burger__input:checked ~ label > .burger__line-third {
  transform: rotate(-45deg);
  top: 50%;
  left: 20%;
}
#burger__input:checked ~ .burger__nav {
  display: flex;
}
.main {
  width: 100%;
  height: 100%;
}
.general-info {
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-image: url("./Assets/image/background-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0;
}
.general-info__wrapper {
  display: flex;
  width: 80%;
  margin: 0 auto;
  column-gap: 10%;
  align-items: center;
  justify-content: center;
}
.my-photo {
  max-width: 20%;
  margin: 1%;
}
.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-right-radius: 10%;
  border-top-left-radius: 20%;
}
.general-info__info {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  color: var(--dark);
}
.contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--gray);
  border-radius: 20px;
  font-size: 16rem;
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
}
.contacts > ul > li {
  display: block;
  margin-bottom: 7px;
  padding-left: 8%;
}
.e-mail {
  text-decoration: none;
  color: var(--dark-gray);
}
.e-mail:hover {
  text-decoration: underline;
}
.place {
  background-image: url("./Assets/svg/place.svg");
  background-repeat: no-repeat;
}
.phone-number {
  background-image: url("./Assets/svg/mobile.svg");
  background-repeat: no-repeat;
  background-size: 5%;
}
.email-img {
  background-image: url("./Assets/svg/mail.svg");
  background-repeat: no-repeat;
}
.all-info {
  width: 100%;
  background-color: var(--light);
  padding-top: 2%;
  padding-bottom: 2%;
}
.about-me {
  display: flex;
  column-gap: 5%;
}
iframe {
  width: 30%;
  height: 100%;
  border-radius: 10px;
}
.education {
  background: url("./Assets/image/education.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.skills {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20rem;
  color: var(--dark);
  margin-left: 3%;
  margin-top: 1%;
}
.skills > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills-img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 40rem;
  height: 40rem;
}
.html {
  background-image: url("./Assets/svg/html.svg");
}
.css {
  background-image: url("./Assets/svg/css.svg");
}
.js {
  background-image: url("./Assets/svg/js.svg");
}
.ts {
  background-image: url("./Assets/svg/ts.svg");
}
.git {
  background-image: url("./Assets/svg/git.svg");
}
.projects__wrapper {
  display: flex;
  justify-content: space-around;
}
.project {
  display: flex;
  flex-direction: column;
  margin: 1%;
  align-items: center;
  column-gap: 10%;
}
.project__img-zoo,
.project__img-game {
  display: block;
  width: 50%;
  height: 100rem;
  background-image: url("./Assets/image/online-zoo.PNG");
  background-size: cover;
}
.project__img-game {
  background-image: url("./Assets/image/game.PNG");
}
.project > p {
  font-size: 16px;
  padding-left: 5%;
  padding-right: 5%;
}
.my-code {
  font-size: 16px;
  margin: 0 auto;
  width: 50%;
  padding-top: 2%;
}

.footer {
  display: flex;
  background-color: var(--dark);
  align-items: center;
  justify-content: space-between;
  color: var(--light);
  font-size: 18px;
  font-weight: bold;
  font-variant: small-caps;
}
/*.time {
  font-size: 22px;
  color: #ccc;
}
#rss {
  height: 30px;
}*/
/*#github {
  height: 30px;
}*/
@media (max-width: 1024px) {
  .header__wrapper {
    max-width: 90vw;
  }
  .general-info__wrapper {
    max-width: 90%;
  }
  section {
    max-width: 90%;
  }
}
@media (max-width: 768px) {
  .header__menu_item {
    font-size: 12px;
  }
}
@media (max-width: 520px) {
  .header {
    height: 30px;
  }
  .header__wrapper {
    justify-content: flex-end;
  }
  .burger {
    display: flex;
  }
  .header__nav {
    display: none;
  }
}
@media (max-width: 320px) {
}
